.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropdown[data-width="full"] {
    width: 100%;
}
.dropdown[data-width="short"] {
    width: 100px;
}

.dropdown-box {
    font-weight: 400;
    background-color: #23262C;
    border-radius: 1.5ex;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dropdown-box span:last-of-type {
    font-size: 1.25rem;
}

.dropdown-options {
    z-index: 15;
    position: absolute;
    width: calc(100% + 0.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    background-color: var(--bg-clr-3);
    border-radius: 2ex;
    padding: .2rem;
    max-height: calc((38.4px * 6) + .4rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
.dropdown-options::-webkit-scrollbar {
    width: 0;
    display: none;
}
.dropdown-options[data-direction="up"] {
    bottom: -.2rem;
    justify-content: flex-end;
}
.dropdown-options[data-direction="down"] {
    top: -.2rem;
    justify-content: flex-start;
}
.dropdown-options .dropdown-option {
    width: 100%;
    border-radius: 1.5ex;
    padding: .6rem;
}

.dropdown-options .dropdown-option:hover {
    background-color: #23262C;
}