#header {
    width: 100%;
    display: grid;
    z-index: 110;
}

#header[data-variant="main"] {
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 3.5rem;
}
#header[data-variant="dashboard"] {
    position: sticky;
    top: 0;
    grid-template-columns: repeat(2, 1fr);
    height: 4.5rem;
    border-bottom: 1px solid var(--border-clr-1);
    padding-inline: 1.5rem;
    background: var(--bg-clr-1);
}

#header[data-variant="dashboard"] .auth-header .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3ex;
    background-color: var(--bg-clr-2);
}
#header[data-variant="dashboard"] .auth-header .user-profile .user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-clr-1);
    width: 2.6rem;
    aspect-ratio: 1;
    border-radius: 100%;
}
#header[data-variant="dashboard"] .auth-header .user-profile .user-title {
    line-height: 1;
    font-weight: 510;
    letter-spacing: -2%;
    margin-left: .6rem;
}
#header[data-variant="dashboard"] .auth-header .user-profile .dropdown-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

#header[data-collapsed="true"] {
    grid-template-columns: repeat(2, 1fr);
    place-items: flex-start;
}
#header[data-menu="true"] {
    position: fixed;
    height: 100vh;
    backdrop-filter: blur(10px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "a b"
                        "c c";
    transition: all 400ms linear;
}

#header[data-menu="true"] .logo {
    grid-area: a;
}
#header[data-menu="true"] .menu-btn {
    grid-area: b;
    place-self: flex-start flex-end;
}
#header[data-menu="true"] #nav {
    grid-area: c;
    background: none;
    border: none;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
#header[data-menu="true"] #nav .nav-link {
    font-size: 6vmax;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 .5rem 0;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    animation: popIn 500ms cubic-bezier(0.76, 0.17, 0.21, 1.02) forwards;
    animation-delay: calc(var(--i) * 200ms + 500ms);
    transform: translateX(-50vh);
    opacity: 0;
}
#header[data-menu="true"] #nav .nav-link.active,
#header[data-menu="true"] #nav .nav-link:hover,
#header[data-menu="true"] #nav .nav-link:focus,
#header[data-menu="true"] #nav .nav-link:focus-visible {
    background: none;
    border-color:#ccc;
    transition-delay: 1s;
}

#header .logo {
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .logo img {
    width: 100%;
    aspect-ratio: 1;
}

#header #nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4ex;
    gap: 2rem;
}
#header #nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 400;
    opacity: .6;
    transition: opacity 300ms ease-in;
}

#header #nav .nav-link.active,
#header #nav .nav-link:hover,
#header #nav .nav-link:focus,
#header #nav .nav-link:focus-visible {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

#header .menu-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    aspect-ratio: 1;
    width: 2rem;
    gap: .3rem;
    place-self: flex-end;
    position: relative;
}

#header .menu-btn span {
    background-color: #fff;
    height: 3px;
    border-radius: 1ex;
    flex-shrink: 0;
}
#header .menu-btn span:nth-of-type(1) {
    width: 100%;
    transition: all 250ms linear;
}
#header .menu-btn span:nth-of-type(2) {
    width: 70%;
    transition: all 150ms linear;
    transition-delay: 500ms;
}
#header .menu-btn span:nth-of-type(3) {
    width: 30%;
    transition: all 250ms linear;
}

#header[data-menu="true"] .menu-btn {
    gap: 0 !important;
}
#header[data-menu="true"] .menu-btn span:nth-of-type(1) {
    width: 70%;
    transform-origin: right;
    position: absolute;
    transform: rotate(45deg);
}
#header[data-menu="true"] .menu-btn span:nth-of-type(2) {
    width: 140%;
}
#header[data-menu="true"] .menu-btn span:nth-of-type(3) {
    width: 70%;
    transform-origin: right;
    position: absolute;
    transform: rotate(-45deg);
}

#header .auth-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header .auth-header .auth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem 1.4rem;
    border-radius: 3ex;
    line-height: 1;
    font-size: 1.25rem;
    transition: all 300ms ease-in;
    background-color: transparent;
    transition: opacity 300ms ease-out;
}

#header .auth-header .auth-btn:hover,
#header .auth-header .auth-btn:active,
#header .auth-header .auth-btn:focus {
    opacity: .8;
    transition: opacity 300ms ease-out;
}

#header .auth-header .auth-btn.login {
    background-color: #fff;
    color: black;
}
#header .auth-header .auth-btn.register {
    color: #fff;
}

/* animations */
@keyframes popIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}