#dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    min-height: calc(100vh - 4.5rem);
    padding-inline: 8rem;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -.2px;
}
.dashboard-header img {
    width: 8rem;
    aspect-ratio: 1;
}

.dashboard-interactive {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--bg-clr-2);
    border: 1px solid var(--border-clr-2);
    border-radius: 3ex;
    padding: 1.5rem;
    position: relative;
    transition: all 300ms ease-in;
}

.interactive-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: filter 200ms ease-in;
}
.interactive-bar:hover,
.interactive-bar:focus {
    filter: brightness(1.4);
    transition: filter 200ms ease-in;
}
.interactive-bar > span {
    color: #9C9C9C;
    font-size: 1.25rem;
    font-weight: 510;
}
.interactive-btn {
    border: 1px solid #292D33;
    border-radius: 2ex;
    background: #1C2025;
    width: 3.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585B62;
}
.interactive-btn span {
    font-size: 2rem;
}

.default-suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: -1rem;
}
.default-suggestions span {
    color: #DBDBDB;
    font-size: .75rem;
    font-weight: 510;
}
.default-suggestions .suggestion-btn {
    padding: .4rem .6rem;
    border: 1px solid var(--border-clr-2);
    border-radius: 1ex;
    color: #ABABAB;
    font-size: .75rem;
    font-weight: 400;
    transition: background-color 500ms ease-in-out;
}
.default-suggestions .suggestion-btn:hover,
.default-suggestions .suggestion-btn:focus {
    background-color: var(--bg-clr-3);
    transition: background-color 500ms ease-in-out;
}

.additional-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.additional-options > span {
    font-weight: 510;
    font-size: 1.25rem;
    color: #ABABAB;
}
.additional-options > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.additional-options .additional-btn {
    padding: 1rem;
    background-color: var(--bg-clr-2);
    border: 1px solid var(--border-clr-2);
    border-radius: 2ex;
    font-weight: 510;
    transition: background-color 500ms ease-in-out;
}
.additional-options .additional-btn:hover,
.additional-options .additional-btn:focus {
    background-color: var(--bg-clr-3);
    transition: background-color 500ms ease-in-out;
}

.navigation-btn {
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: #1C2025;
    border: 1px solid #292D33;
    border-radius: 1ex;
}
.navigation-btn span {
    font-size: 2rem;
}

.templates-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: .8rem;
}
.templates-section .templates-header {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}
.templates-section .templates-header h2 {
    font-size: 1.25rem;
    font-weight: 510;
}
.templates-section .templates-header p {
    font-weight: 400;
    color: #D1D1D1;
}
.templates-section .templates-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.templates-section .templates-container .template-box {
    background: #1D2024;
    border: 1px solid #585858;
    border-radius: 1.5ex;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding: .8rem;
    transition: all 350ms ease-in;
}
.templates-section .templates-container .template-box:hover,
.templates-section .templates-container .template-box:focus {
    background: var(--bg-clr-3);
    transition: all 350ms ease-in;
}
.templates-section .templates-container .template-box[data-active="true"],
.templates-section .templates-container .template-box[data-active="true"] .template-checkbox {
    border-color: #1778FE;
    transition: all 350ms ease-in;
}
.templates-section .templates-container .template-box > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.templates-section .template-box span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.templates-section .templates-container .template-box p {
    font-weight: 400;
    font-size: .75rem;
    color: #D1D1D1;
}
.templates-section .templates-container .template-box .template-checkbox {
    width: 1.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border: 2px solid #585858;
    border-radius: 1ex;
    transition: all 350ms ease-in;
}

.templates-section .templates-container .template-box .template-checkbox .template-checkbox-marker {
    width: 100%;
    aspect-ratio: 1;
    transition: all 350ms ease-in;
}

.templates-section .templates-container .template-box[data-active="true"] .template-checkbox .template-checkbox-marker {
    border-radius: 0.5ex;
    background: #80B5FF;
    box-shadow: 0px 0px 1px 0px #FFFFFF1A,
                0px 2px 2px 0px #FFFFFF17,
                0px 4px 2px 0px #FFFFFF0D,
                0px 7px 3px 0px #FFFFFF03,
                0px 11px 3px 0px #FFFFFF00;
    transition: all 350ms ease-in;
}


.templates-section .show-more-btn {
    color: #1778FE;
    background: #1C283A;
    border-radius: 1.5ex;
    padding: .5rem 1rem;
    transition: opacity 350ms ease-in;
}
.templates-section .show-more-btn:focus,
.templates-section .show-more-btn:hover
.advanced-btn:focus,
.advanced-btn:hover,
.payment-footer .payment-btn:focus,
.payment-footer .payment-btn:hover {
    opacity: .8;
    transition: opacity 350ms ease-in;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .2rem;
    font-weight: 510;
    font-size: .75rem;
    color: #898989;
}
.divider span.line {
    background: #575757;
    border-radius: 1ex;
    width: 100%;
    height: 1px;
}

.advanced-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #1D2024;
    border: 1px solid #585858;
    border-radius: 2ex;
    padding: 1rem;
    transition: opacity 350ms ease-in;
}
.advanced-btn div {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.advanced-btn div p {
    font-weight: 400;
    font-size: .75rem;
    color: #D1D1D1;
}

.advanced-btn span {
    background: linear-gradient(180deg, #1778FE 0%, #1464D3 100%);
    border-radius: 1.5ex;
    padding: .5rem 1rem;
    font-weight: 510;
}

.payment-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.payment-footer .total-fee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.payment-footer .total-fee span {
    font-weight: 510;
    font-size: 1.25rem;
}
.payment-footer .total-fee p {
    font-size: .75rem;
    font-weight: 400;
    color: #949494;
}
.payment-footer .payment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 510;
    width: max-content;
    gap: .2rem;
    background: linear-gradient(180deg, #1778FE 0%, #1464D3 100%);
    border-radius: 1.5ex;
    padding: .5rem 1.2rem;
    transition: opacity 350ms ease-in;
}
.payment-footer .payment-btn img {
    width: 1.5rem;
    aspect-ratio: 1;
    stroke: 2px solid #fff;
    filter: grayscale(1) brightness(2);
}