#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    scroll-margin-block: 100vh;

    --padding-size: 8.5vw;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--padding-size);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
section.columned {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

section .section-label {
    font-size: 1rem;
    color: var(--accent-blue-2);
}
section .section-heading {
    font-size: 3.5rem;
}
section .section-description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
}

section.columned .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.hero-section {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    border-radius: 0 0 4ex 4ex;
}
.hero-section .hero-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-section .hero-title {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
}
.hero-section .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
.hero-section .engine-box {
    margin-top: 1.5rem;
}
.hero-section .engine-box img {
    pointer-events: none;
}

.section-1 {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-inline: var(--padding-size);
}
.section-1 .bento-container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-areas: "a b c"
                        "a d e";
    gap: 1.5rem;
}
.section-1 .bento-container .bento-box {
    background-color: var(--bg-clr-2);
    width: 100%;
    height: 100%;
    border-radius: 2ex;
}

.section-2 {
    position: relative;
    overflow: hidden;
    padding-top: calc(var(--padding-size) / 2);
}
.section-2 .section-img-large {
    width: 100%;
}
.section-2 .section-content {
    position: absolute;
    left: var(--padding-size);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: min-content;
    gap: 1rem;
    z-index: -1;
}
.section-2 .section-content .section-heading {
    width: max-content;
}

.section-3 {
    justify-content: center;
    position: relative;
    height: fit-content;
    padding: 10rem var(--padding-size);
}
.section-3 .section-img-large {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.section-3 .section-img-large img {
    height: 100%;
    aspect-ratio: auto;
}
.section-3 .section-content {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.section-3 .section-content .highlights-checklist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
}
.section-3 .section-content .highlights-checklist .highlight-point {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.section-3 .section-content .highlights-checklist .highlight-point img {
    width: 1.8rem;
    aspect-ratio: 1;
}
.section-3 .section-content .highlights-checklist .highlight-point span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Satoshi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 120%;
}
.section-3 .section-btn {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Satoshi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    color: #000;
    background: #fff;
    border-radius: 3ex;
    padding: .8rem 1.6rem;
}

.section-4, .section-5 {
    padding-inline: var(--padding-size);
}
.section-4 .column-img,
.section-5 .column-img {
    overflow: hidden;
    background-color: var(--bg-clr-2);
    border-radius: 3ex;
    padding: 1.25rem 1.25rem 0 1.25rem;
}
.section-4 .column-img img,
.section-5 .column-img img {
    aspect-ratio: 0.89464285714;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    object-fit: cover;
    object-position: 0 0;
}

.section-6 {
    background: var(--bg-clr-3);
    padding: calc(var(--padding-size) - 2rem) var(--padding-size);
    gap: 2rem;
}
.section-6 .features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem 4rem;
}
.section-6 .features-container .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .6rem;
}
.feature-box .feature-logo {
    width: 4.5rem;
    aspect-ratio: 1;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.feature-box .feature-title {
    font-size: 1.5rem;
    line-height: 1;
}
.feature-box .feature-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 110.00000000000001%;
}

.faq-section {
    padding-inline: var(--padding-size);
}
.faq-section .faq-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.faq-section .faq-container .faq-item {
    width: 100%;
    border-bottom: 1px solid #1D1D1D;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.faq-section .faq-container .faq-item .faq-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding-block: 1.2rem;
}
.faq-section .faq-container .faq-item .faq-header:hover,
.faq-section .faq-container .faq-item .faq-header:focus {
    opacity: .85;
    transition: opacity 300ms linear;
}
.faq-section .faq-container .faq-item .faq-header span {
    color: var(--accent-blue-2);
}
.faq-section .faq-container .faq-item .faq-header .faq-ques {
    font-size: 1.25rem;
    font-weight: 510;
    line-height: 110.00000000000001%;
}
.faq-section .faq-container .faq-item .faq-ans {
    font-weight: 400;
    margin-left: calc(2.5rem);
    line-height: 120%;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    margin-top: 0;
    transform-origin: top center;
    transition-delay: 250ms;
    transition: all 400ms 200ms cubic-bezier(0.71, 0.11, 0.27, 0.49);
    box-sizing: content-box !important;
}

.faq-section .faq-container .faq-item[data-open="true"] .faq-ans {
    visibility: visible;
    height: var(--computedHeight);
    opacity: 1;
    padding-bottom: 1.2rem;
    margin-top: -.45rem;
    transition: all 400ms 200ms cubic-bezier(0.71, 0.11, 0.27, 0.49);
}

.faq-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--accent-blue-2);
    font-size: 1.25rem;
    font-weight: 510;
}
.faq-see-more span {
    font-size: 1.8rem;
}

.faq-see-more:hover,
.faq-see-more:focus {
    opacity: .85;
    transition: opacity 300ms linear;
}