.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.field .field-label {
    width: 100%;
    font-weight: 510;
}

.field .field-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1ex;
    color: #fff !important;
    transition: all 250ms ease-in;
    overflow: hidden;
}
.field .field-input input,
.field .field-input textarea {
    all: unset;
    padding: .8rem;
    width: 100%;
}

.field .field-input input:autofill,
.field .field-input textarea:autofill {
    background: none !important;
}

.field .field-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .4rem;
}

.field .field-input span {
    aspect-ratio: 1;
    display: flex;
    padding: .4rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background-color 250ms ease-in;
}

.field .field-input button:focus span,
.field .field-input button:hover span {
    background-color: var(--border-clr-1);
    transition: background-color 250ms ease-in;
}

.field .field-input:focus-within,
.field .field-input:hover {
    background-color: #282829 !important;
    border-color: #3B3B3B !important;
    transition: all 250ms ease-in;
}