.tooltip-bubble {
  position: fixed;
  background: #222;
  padding: .5rem .75rem;
  border-radius: 1ex;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  width: fit-content;
  animation: fadeIn 0.2s forwards;
}