.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: filter 250ms ease-in;
}
.checkbox-container:hover,
.checkbox-container:active,
.checkbox-container:focus-within {
    filter: brightness(2);
    transition: filter 250ms ease-in;
}
.checkbox-container .checkbox-label {
    color: #aaa;
}
.checkbox-container .checkbox {
    width: 1.2rem;
    aspect-ratio: 1;
    padding: 2px;
    border: 1.2px solid #373737;
    border-radius: .5ex;
    background: #131313;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out
}
.checkbox-container .checkbox-marker {
    height: calc(100% - 4px);
    aspect-ratio: 1;
    border-radius: .25ex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(2px, 2px);
    background: transparent;
    z-index: 1;
    transition: all 300ms ease-in-out
}
.checkbox-container .checkbox input {
    z-index: 2;
    height: 100%;
    aspect-ratio: 1;
    opacity: 0;
    /* cursor: pointer; */
    margin: 0;
    position: absolute;
}

.checkbox-container .checkbox[data-checked="true"] .checkbox-marker {
    background-color: #fff;
    transition: all 300ms ease-in-out
}
.checkbox-container .checkbox[data-checked="true"] {
    border-color: #fff;
    transition: all 300ms ease-in-out
}