#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

#main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#privy-dialog-backdrop {
  background-color: rgba(3, 7, 16, .7);
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(4px);
}

.popup-content {
  min-width: 300px;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
}