#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.551);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}