#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

#main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#privy-dialog-backdrop {
  background-color: rgba(3, 7, 16, .7);
}