/* fonts */
@font-face {
  font-family: 'SF Pro';
  src: url(./assets/fonts/SF-Pro.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Satoshi;
  src: url(./assets/fonts/Satoshi-Variable.ttf) format("truetype");
  font-display: swap;
}

/* root config */
:root {
  font-family: 'SF Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 590;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;

  --bg-clr-1: #000000;
  --bg-clr-2: #16181C;
  --bg-clr-3: #0D0F14;
  --border-clr-1: #3C3A46;
  --accent-blue-1: #bedffd;
  --accent-blue-2: #237FFF;
  --btn-clr-1: #0686FF;
  --btn-clr-2: #194274;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, var(--bg-clr-1), #000) no-repeat;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
  outline: none !important;
  -webkit-user-drag: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button, h1, h2, h3, h4, h5, h6, p {
  all: unset;
}

button, img {
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-touch-select: none !important;
  -webkit-user-select: none !important;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

/* unselectable */
[no-select="true"], [no-select="true"] * {
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-touch-select: none !important;
  -webkit-user-select: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-clr-2);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff42;
  border-radius: 1ex;
  transition: background-color 300ms linear
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff8e;
  transition: background-color 300ms linear
}