#blog-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

#blog-sidebar .blog-item {
    width: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .85rem;
    transition: all 350ms ease-in;
}

#blog-sidebar .blog-item:hover,
#blog-sidebar .blog-item:active,
#blog-sidebar .blog-item:focus {
    transform: scale(1.05);
    filter: brightness(.85);
    background-color: #ffffff0c;
    padding: .4rem .4rem .6rem .4rem;
    border-radius: 2ex;
    transition: all 280ms ease-in;
}

#blog-sidebar .blog-item .blog-item-cover {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 2ex;
    overflow: hidden;
}


#blog-sidebar .blog-item .blog-item-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: .2rem;
    gap: .4rem;
    width: 100%;
    line-height: 1;
}

#blog-sidebar .blog-item .blog-item-header .blog-item-title {
    width: 100%;
    font-weight: 600;
    letter-spacing: .45px;
    font-size: 16px;
}

#blog-sidebar .blog-item .blog-item-header .blog-item-timestamp {
    width: 100%;
    font-weight: 550;
    font-size: .85rem;
    color: #7E7E7E;
}